<div class="page-date">
  <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}">
    {%- assign date_format = site.date_format | default: "%B %-d, %Y" -%}
    {{ page.date | date: date_format }}
  </time>
  {% if page.last_modified_at %}
    <span class="page-modified-date">
      <span class="sep"> · Updated: </span>
      <time class="dt-modified" datetime="{{ page.last_modified_at | date_to_xmlschema }}">
        {{ page.last_modified_at | date: date_format }}
      </time>
    </span>
  {% endif %}
</div>
